<h2>Questions</h2>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Menu</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.id %></td>
            <td><%= link_to question.title, question_path(question) %></td>
            <td>[ <%= link_to 'Edit',  edit_question_path(question) %> ] 
            
            [ <%= link_to 'Delete', question_path(question), method: :delete, data:{ confirm: 'Are you sure?' } %> ]</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= link_to 'New question', new_question_path %>
    </div>
  </div>
</div>