<div class="row">
  <div class="col-md-12">
    <h2><%= @question.title %></h2>
    <div>
      Content: <%= @question.content %>
    </div>
    <div>
      Name: <%= @question.name %>
    </div>
    <hr>
    
    <div>
      <h3>Answers</h3>
      <table class="table table-striped">
        <% if @question.answers.any? %>
          <thead class="thead-light">
            <tr>
              <td>Answer</td>
              <td>Name</td>
              <td>Menu</td>
            </tr>
          </thead>
          <tbody>
            <% @question.answers.each do |answer| %>
              <tr>
                <td>
                  <%= answer.content %>
                </td>
                <td>
                  <%= answer.name %>
                </td>
                <td>
                  [<%= link_to 'Edit', edit_question_answer_path(@question, answer) %>]
                  [<%= link_to 'Delete', question_answer_path(@question, answer), 
                    method: :delete, data:{ confirm: 'Are you sure?'} %> ]
                </td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <p>No answer yet.</p>
        <% end %>
        
      </table>
      
    </div>
    
    <h3>Post new answer.</h3>
    
    <%= form_with model: [@question, @answer], local: true do |f| %>
      <%= f.hidden_field :question_id, { value: @question.id} %>
      <div class="form-group">
        <label>Name</label>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Content</label>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="text-center">
        <%= f.submit "Post", class: 'btn btn-primary' %>
      </div>
      
    <% end %>
    
    <div>
      <%= link_to '> Home', root_path %>
    </div>
  </div>
</div>